.header {
  height: 60px;
  & .container {
    display: flex;
    align-items: center;
    background-color: #eef0f4;
  }
  &-logo__link {
    margin-right: 773px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &-navigation {
    &__list {
      display: flex;
      gap: 40px;
    }
    &__link {
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: 0.5px;
      color: #081158;
      padding-top: 21px;
      padding-bottom: 21px;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: #ff0000;
      }
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 46px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #081158;
    border-radius: 6px;
    border: transparent;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 20px;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #0c197c;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__button-icon {
    margin-right: 8px;
  }
  &-cart__link {
    display: block;
    margin-left: 25px;
  }
}
